<mat-toolbar class="header" color="primary">
  <span class="header-brand" >Recipe Book</span>
  <mat-list class="header-navigation">
    <mat-list-item *ngIf="isAuthenticated">
      <a class="navigation-link" mat-button routerLink="/recipes" routerLinkActive="active">Recipes</a>
    </mat-list-item>
    <mat-list-item *ngIf="!isAuthenticated">
      <a class="navigation-link" mat-button routerLink="/auth" routerLinkActive="active">Authentication</a>
    </mat-list-item>
    <mat-list-item *ngIf="isAuthenticated">
      <a class="navigation-link" mat-button routerLink="/shopping-list" routerLinkActive="active">Shopping list</a>
    </mat-list-item>
  </mat-list>
  <mat-list class="header-control">
    <mat-list-item>
      <button class="button" mat-button (click)="onLogout()">Logout</button>
    </mat-list-item>
    <mat-list-item>
      <button class="button" mat-button [matMenuTriggerFor]="beforeMenu">Manage</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onSaveData()">Save Data</button>
        <button mat-menu-item (click)="onFetchData()">Fetch Data</button>
      </mat-menu>
    </mat-list-item>
  </mat-list>
</mat-toolbar>