<mat-card class="recipe-card-detail
  recipe-card-detail__background-color__primary
  recipe-card-detail__font-color__white">
  <mat-card-header>
    <h1>{{recipe.name}}</h1>
  </mat-card-header>
  <img mat-card-image
    [src]="recipe.imagePath"
    alt="{{recipe.name}}"
    class="recipe-card-detail__image"
    >
  <mat-card-content>
    <p>
      {{recipe.description}}
    </p>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </mat-card-content>
  <mat-divider class="recipe-card-detail__divider" inset></mat-divider>
  <mat-card-actions>
    <button class="recipe-card-detail__button
      recipe-card-detail__button__background-color__white
      recipe-card-detail__button__font-color__primary
      recipe-card-detail__button__margin-left__small"
      mat-button [matMenuTriggerFor]="afterMenu">Manage Recipe
    </button>
  </mat-card-actions>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item (click)="onAddToShoppingList()">Add Ingredients to shopping list</button>
    <button mat-menu-item (click)="onEditRecipe()">Edit Recipe</button>
    <button mat-menu-item (click)="onDeleteRecipe()">Delete Recipe</button>
  </mat-menu>
</mat-card>
