.auth-card {
  max-width: 500px;
  margin: 6% auto;
  font-size: 18px;
  -webkit-box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
}

.auth-card__background-color__primary {
  background-color:#673ab7;
}

.auth-card__font-color__white {
  color: #FFF;
}

.auth-card__form {
  display: flex;
  flex-direction: column;
}

.auth-card__actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.auth-card__input::placeholder {
  background-color: transparent;
}

mat-label {
  color: #FFF;
}
