.recipe-card-detail {
  margin: auto;
  width: 90%;
  -webkit-box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
}

.recipe-card-detail:hover {
  cursor:pointer;
}

.recipe-card-detail__background-color__primary {
  background-color: #673ab7;
}

.recipe-card-detail__font-color__white {
  color: #FFF;
}

.recipe-card-detail__image {
  width:35%;
  margin: 16px;
  border-radius: 7px;
}

.recipe-card-detail__button__background-color__white {
  background-color: #FFF;
}

.recipe-card-detail__button__font-color__primary {
  color: #673ab7;
}

.recipe-card-detail__button__margin-left__small {
  margin-left: 16px !important;
}

.recipe-card-detail__divider {
  background-color: #FFF;
}
