<a
style="cursor: pointer;"
class="list-group-item  d-flex justify-content-between flex-row mb-3 shadow-sm"
[routerLink]="[index]"
[routerLinkActive]="['active']" >
    <div class="">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>
    <span class="align-self-center">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height:60px;max-width: 60px;">
    </span>
</a>
