<ng-template appPlaceholder></ng-template>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>

<mat-card class="auth-card auth-card__background-color__primary auth-card__font-color__white">
  <form class="auth-card__form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        appearance="fill"
        class="auth-card__input"
        matInput
        type="email"
        id="email" ngModel
        name="email"
        required
        email>
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        appearance="fill"
        class="auth-card__input"
        matInput
        [type]="hide ? 'password' : 'text'" id="password"
        ngModel
        name="password"
        required
        minlength="6">
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        type="button"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-card-actions class="auth-card__actions">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sing Up' }}
      </button>
      <button
        mat-raised-button
        (click)="onSwitchMode()"
        type="button">Switch to
        {{ isLoginMode ? 'Sign Up' : 'Login'}}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
